<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<title>Insert title here</title>
</head>
<body>
<div class="card" align="center">
<div class="card-header"> Liste des patients</div>
<div class="card-body">
	<table class="table">
	<tr>
	<th>ID</th><th>Name</th><th>date</th><th>Malade</th><th>Score</th>
	</tr>
	<tr th:each="p:${patients}">
	<td th:text="${p.id}"></td>
	 <td th:text="${p.name}"></td> 
	 <td th:text="${p.dateNaissance}"></td>
	 <td th:text="${p.malade}"></td>
	 <td th:text="${p.score}"></td>
	</tr>
	</table>
	<ul class="nav nav-pills">
	<li th:each="page,status:${pages}">
	 <a class="btn"
	       th:href="@{patientView(page=${status.index})}"
	        th:text="${status.index}"></a>
	 </li>
	 </ul>
</div>

</div>
	
</body>
</html>